<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>GhostNet WebApp</title>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6/dist/ext/json-enc.js"></script>
    </head>
    <body>
        <h1>Welcome to the GhostNet WebApp</h1>
        <p>This is a simple web application using Spring Boot and Thymeleaf.</p>
        <p><a href="/hello">Link to SimpleOutput Service</a></p>
        <p><a href="/user">Register new user</a></p>
        <h1>New User</h1>
      
        <form 
            hx-post="/user"            
            hx-ext="json-enc"
            hx-headers='{"Content-Type": "application/json"}'
            hx-target="#response">

            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>

            <button type="submit">Create User</button>
        </form>    

        <div id="response"></div>
    </body>
</html>