<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: html(title='GhostNet WebApp')}">
<body>
    <div th:fragment="content">
        <h1>GhostNet</h1>
        <p>Clean oceans, one net at a time.</p>
        <p><a href="/nets" class="btn btn-dark">Show me all ghost nets!</a></p>
        
        <!-- User form section -->
        <h2>New User</h2>
        <form 
            hx-post="/api/user"            
            hx-ext="json-enc"
            hx-headers='{"Content-Type": "application/json"}'
            hx-target="#response">

            <div class="mb-3">
                <label for="name" class="form-label">Username:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control">
            </div>

            <button type="submit" class="btn btn-dark">Create User</button>
        </form>
        
        <!-- GhostNet form Section -->
        <h2>New GhostNet</h2>
        <form
            hx-post="/api/ghostnet"
            hx-ext="json-enc"
            hx-headers='{"Content-Type": "application/json"}'
            hx-target="#response">

            <div class="mb-3">
                <label for ="id" class="form-label">GhostNet ID</label>
                <input type="text" id="Id" name="id" class="form-control">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <input type="text" id="status" name="status" class="form-control">
            </div>

            <button type="submit" class="btn btn-dark">Create GhostNet</button>

            </div>
        </form>

        <div id="response"></div>
    </div>
</body>
</html>